:root {
  --color-dark: #20232e;
  --color-light: #dddddd;
  --color-primary: #a52838;
  --border-radius: 8px;
  --transition-base: all 0.2s ease-in-out;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  color: var(--color-dark);
}
main {
  padding-top: 50px;
}
.container {
  width: 100%;
  max-width: 1090px;

  margin: 0 auto;
}
h1 {
  font-size: 32px;
  font-weight: 500;

  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: var(--color-dark);
}
li {
  list-style: none;
}
.button,
select,
input {
  cursor: pointer;
  font-size: 16px;

  border-radius: var(--border-radius);
  transition: var(--transition-base);
}
.button {
  color: white;
  font-weight: 500;
  padding: 12px 20px;
  border: none;
  background-color: var(--color-primary);
}
.button.light {
  color: var(--color-dark);
  background-color: var(--color-light);
}
.button:hover {
  filter: brightness(90%);
}
select,
input {
  padding: 12px;
  outline: none;
  border: 1px var(--color-light) solid;
}
select:hover,
select:focus,
input:hover,
input:focus {
  border: 1px var(--color-dark) solid;
}
