.catalog-section {
  display: block;
  margin-bottom: 60px;
}
.catalog-section__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.catalog-section__inner {
  display: grid;
  grid-template-columns: 265px auto;
  column-gap: 30px;
}
.catalog-section__footer {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}
